@if (!string.IsNullOrEmpty(ViewBag.InfoMessage))
{
    <div class="alert alert-info alert-dismissible margin-top-5" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        @ViewBag.InfoMessage
    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.WarningMessage))
{
    <div class="alert alert-warning alert-dismissible margin-top-5" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <strong>WARNING:</strong> @ViewBag.WarningMessage
    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger alert-dismissible margin-top-5" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <strong>ERROR:</strong> @ViewBag.ErrorMessage
    </div>
}

