<div class="jumbotron text-center" style="background: none; margin-top: 20px;">
    <span class="fa fa-coffee" style="font-size: 5em;"></span>
    <p class="welcome-header">
        TAX<span style="color: #cc0000">C</span>ALCULATOR
    </p>
    <p class="text-center" style="width: 80%; font-size: 22px; margin: auto; color: #666;">
        A personal income tax calculator which is based on configurable tax rates settings aiming to corp with the tax rates frequent changes
    </p>
</div>
<div class="row text-center margin-bottom-25">
    <a href="@Url.Action("Index", "Calculator")" class="btn btn-default btn-lg text-center" style="width:220px; padding: 10px;">START NOW</a>
</div>
